.theme-light {
    --color-primary: hsl(0, 73%, 97%);
    --color-secondary: hsl(169, 61%, 79%);
    --color-accent: hsl(164, 60%, 57%);
    --font-color: hsl(0, 0%, 0%);
    --shadow-color: rgba(0,0,0,0.3);
}

.theme-dark {
    --color-primary: hsl(0, 0%, 7%);
    --color-secondary: hsl(235, 81%, 15%);
    --color-accent: hsl(235, 84%, 29%);
    --font-color: hsl(0, 0%, 100%);
    --shadow-color: rgba(255, 255, 255, 0.3);
}

body {
    color: var(--font-color);
    background-color: var(--color-primary);
}

.navbar {
    background-color: var(--color-secondary);
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    --navbar-padding: 15px;
    z-index: 1000;
}
.navbar-main{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 1rem;
    height: 100%;
}
.navbar a{
    text-decoration: none;
    padding: var(--navbar-padding, 15px);
    display: block;
    text-align: center;
    color: var(--font-color)
}
.navbar > ul {
    height: 100%;
}
.navbar li {
    transition: all 0.5s ease-in;
}
.navbar li:hover{
    background-color: var(--color-accent);
}  
.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: var(--font-color);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.dropdown-content {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none;
    position: absolute;
    background-color: var(--color-primary);
    box-shadow: 0px 8px 16px 0px --shadow-color;
    opacity: 0;
    transition: all 0.5s allow-discrete;
    border: 1px solid var(--color-secondary);
}
.dropdown-content a {
    float: none;
    color: var(--font-color);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown:hover .dropdown-content {
    opacity: 1;
    display: block;
}
.navbar #menu[type='checkbox'], .navbar label {
    display: none;
}

.navbar #theme-toggle[type='checkbox'] {
    display: inline-block;
    margin-right: 3rem;
}

#logo {
    float: left;
    display: inline;
    font-weight: bolder;
    padding: var(--navbar-padding, 15px);
    margin: 0;
}

header {
    padding-top: 2em;
    font-size: 1.5em;
}
header h1 {
    text-align: center;
}
header p {
    text-align: center;
}

.flex-main {
    display: flex;
    flex-direction: column;
}

main {
    font-size: 1.5em;
}

.wip {
    transform: rotate(18deg) translate(2rem,10rem);
}
img {
    max-width: 100%;
}

@media (max-width:815px) {
    input[type="checkbox"]:not(:checked) + ul {
        display: none;
    }
    
    .navbar {
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 0;
        margin-right: 0;
        background-color: var(--color-secondary);
    }
    .navbar-main {
        display: block;
    } 
    .navbar ul:last-child {
        width: 100%;
        flex-basis: 100%;
    }
    nav ul li {
        margin-bottom: 0;
        width: 100%;
        text-align: right;
        padding: 0.5em;
    }
    .navbar label {
        text-align: right;
        display: block;
        padding: 0.5em;
        line-height: 1.6em;
        align-self: center;
    }
} 


